body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: gray;
    }
.title {
    border-radius: 10px;
    background-color:darkgray;  
    max-width: fit-content;
    margin-left: 600px;     
    }
.info-blocks {
    background-color: dimgrey;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
}
h2{
    background-color:slategray;
    max-width: fit-content;
    border-radius: 20px;
}